<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.admobiletop.adsuyidemo">

    <!-- 广告必须的权限，允许网络访问 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 广告必须的权限，允许安装未知来源权限（如下载类广告下载完成后唤起安卓） -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 广告必须的权限，地理位置权限，获取位置信息，用于广告投放 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 如果有视频相关的广告播放请务必添加，屏幕保持唤醒不锁屏（部分渠道未添加该权限时会出现视频类广告黑屏）-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 如果接入了广点通渠道，必须加入以下权限，不然会导致广点通填充失败 -->
    <!-- 允许应用获取 MAC 地址，可选权限，采用 App 内推广时会用到此权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许应用检测网络状态，SDK 会根据网络状态选择是否发送数据 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 影响广告填充，强烈建议的权限，获取设备信息，允许应用获取手机状态（包括手机号码、IMEI、IMSI权限等），采用 App 内推广时会用到此权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 为了提高广告收益，建议设置的权限，写入权限，用于下载类广告数据写入 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 为了提高广告收益，建议设置的权限，读取权限，用于下载类广告数据读取（如判断是否已下载过该APK，避免重复下载）-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 为了提高广告收益，建议设置的权限，获取粗略位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".ADSuyiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/admobile_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/adsuyi_network_security_config"
        android:roundIcon="@mipmap/admobile_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:networkSecurityConfig,android:theme">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/adsuyi_file_paths" />
        </provider>

        <activity
            android:name=".activity.ad.SplashAdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activity.ad.BannerAdActivity"
            android:label="@string/banner_ad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ad.RewardVodAdActivity"
            android:label="@string/reward_vod_ad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ad.FullScreenVodAdActivity"
            android:label="@string/full_screen_vod_ad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ad.InterstitialAdActivity"
            android:label="@string/interstitial_ad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ad.feed.NativeAdRecyclerViewActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/native_ad"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activity.ad.DrawVodActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/draw_vod_ad"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBar" />
        <activity
            android:name=".activity.other.FragmentActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/fragment_examples"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.setting.PositionSettingActivity"
            android:label="@string/setting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.setting.FloatingAdSettingActivity"
            android:label="@string/setting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.other.NormalWebActivity"
            android:label="@string/web"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.other.DlAdActivity"
            android:label="@string/admobile_dl_ad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.other.RewardAdSwitchActivity"
            android:label="@string/admobile_dl_ad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.other.ContentAllianceAdActivity"
            android:label="@string/content_alliance"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.setting.SettingActivity"
            android:label="@string/setting"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.other.DlModuleActivity"
            android:label="@string/admobile_dl_ad"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.other.ContentModuleActivity"
            android:label="@string/admobile_dl_ad"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ad.feed.NativeExpressActivity" />
        <activity android:name=".activity.other.NativeAdActivity" />
        <activity android:name=".activity.ad.feed.NativeSlideshowActivity" />
        <activity android:name=".activity.ad.feed.NativeSplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splash"/>
    </application>

</manifest>